.sidebar {
    -fx-background-color: #323337;
}

.label-field {
    -fx-background-color: #1d1d21;
    -fx-font-style: italic;
    -fx-font-weight: 100;
    -fx-text-fill: #828282;
}

.label-field-nocolor {
    -fx-background-color: transparent;
    -fx-font-style: italic;
    -fx-font-weight: 100;
    -fx-text-fill: #828282;
}

.sidebar-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #828282;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

.sidebar-btn:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #828282;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 0px 5px;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

.inner-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #828282;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

.inner-btn:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #828282;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 5px 0px;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

.canvas {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: #323337;
}
